[submodule "thirdparty/cjson"]
	path = thirdparty/cjson
	url = https://gitee.com/ztwlla/cjson.git
[submodule "thirdparty/libcstl"]
	path = thirdparty/libcstl
	url = https://gitee.com/ztwlla/libcstl.git
[submodule "thirdparty/libuv"]
	path = thirdparty/libuv
	url = https://gitee.com/ztwlla/libuv.git
[submodule "thirdparty/pugixml"]
	path = thirdparty/pugixml
	url = https://gitee.com/ztwlla/pugixml.git
